.productList{
  background: grey;
  width: 200px;
  height: 500px;

}

body{
  background: black;
  user-select: none;
}

.cart{
  background: grey;
  width: 200px;
  height: 500px;
  position: absolute;
  right: 0;
  top: 0;
}